<div class="footer">
  <div class="container-fluid">
    <div class="row arriba">
      <div class="col">
        <div class="container-fluid">
          <div class="row ">
            <div class="col-lg-2" >
              <div class="text-center">
              <img src="./assets/footer/icons/auris.png" style="margin-top: 5px;" width="35px" height="35px">
              <div style="display: inline-block;" >
                <a href="https://www.correoargentino.com.ar/atencion-al-cliente/centros-de-atencion-al-cliente" target="_blank"><p style="color: #44546A;"> &nbsp; Contacto </p></a>
              </div>
            </div>
            </div>
            <div class="col-lg-2">
              <!-- <img src="./assets/footer/icons/marcador.png" width="40px" height="40px"> -->
              <div class="text-center">

                <img style="margin-top: 5px;" src="./assets/footer/icons/phone.png" width="35px" height="35px">
                <div style="display: inline-block;">
                  <p style="color: #44546A;"> Todo el País: 0810-777-7787</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="text-center">

              <img style="margin-top: 5px;" src="./assets/footer/icons/marcador.png" width="35px" height="35px">

              <div style="display: inline-block;">

                <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank"><p style="color: #44546A;"> &nbsp; Búsqueda de CP </p></a>
              </div>
              </div>

            </div>
            <div class="col-lg-3">
              <div class="text-center">

              <img src="./assets/footer/icons/documento.png" width="40px" height="40px">
              <div style="display: inline-block;">

                <p style="color: #44546A;"> &nbsp; Descargar Manual de Usuarios </p>

              </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="text-center">

              <div style="display: inline-block;">

                <p style="color: #44546A; font-weight: bold"> REDES SOCIALES &nbsp;</p>
              </div>
              <a href="https://www.facebook.com/CorreoOficialSA/" target="_blank"><img src="./assets/footer/icons/facebook.png" width="40px" height="40px"></a>
              <!-- <img src="./assets/footer/icons/twitter.png" width="40px" height="40px"> -->
              <a href="https://twitter.com/CorreoOficialSA" target="_blank"><img src="./assets/footer/icons/twitter2.png" width="40px" height="40px"></a>
              <a href="https://www.instagram.com/correooficialsa/" target="_blank"><img src="./assets/footer/icons/inta.png" width="40px" height="40px"></a>
              <a href="https://www.tiktok.com/@correooficialsa" target="_blank"><img src="./assets/footer/icons/tiktok.png" width="40px" height="40px"></a>
              <a href="https://www.linkedin.com/company/correo-argentino" target="_blank"><img src="./assets/footer/icons/linkedin.png" width="40px" height="40px"></a>

            </div>
            </div>
          </div>


        </div>
      </div>
    </div>
      <div class="row abajo">
        <div class="col">
          <div class="container">
            <div class="row align-items-end" style="margin-top: 11px;">
              <div class="col-lg-2 offset-lg-2 col-sm-6 col-xs-3">
                <div class="text-center" style="text-align: center;">
                  <a href="https://www.cace.org.ar/" target="_blank"><img src="./assets/footer/cace.png" height="60px"></a>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 col-xs-3">
                <div class="text-center">
                  <a href="https://www.argentina.gob.ar/aaip/datospersonales/reclama/30708574836--RL-2019-49054104-APN-DNPDP#AAIP" target="_blank"><img src="./assets/footer/aaip.jpg" height="100px"></a>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 col-xs-3">
                <div class="text-center" style="text-align: center;">
                  <a href="https://www.argentina.gob.ar/aaip" target="_blank"><img src="./assets/footer/rnbd.jpg" height="60px"></a>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 col-xs-3">
                <div class="text-center" style="text-align: center;">
                  <a href="https://www.casarosada.gob.ar/" target="_blank"><img src="./assets/footer/arg.png" height="60px"></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="text-center" style="margin-top: 9px; color:white">Correo Oficial de la República Argentina -
                  Todos los derechos reservados | <a href="mailto:webmaster@correoargentino.com.ar"> Webmaster</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- <div style="background-color: #4A4A4A;">
<p>dasd</p>
</div> -->
  </div>
