
      <div class="container-fluid" style="padding: 0px; background-color: white;">

        <div class="row">
          <div class="col">
            <div class="text-center">
              <h3>Pago Confirmado</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="text-center" style="margin-top: 60px;">
              <img src="../../../assets/comprobado.png" alt="" height="100px">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="text-center" style="margin-top:60px;">
              <button class="btn botones" (click)="confirmarPago()">Volver</button>
            </div>
          </div>
        </div>

      </div>
