<!-- <div class="container-flu
">
  <div class="row align-content-end" style="padding-top: 30px;">
    <div class="col"> -->
      <!-- BOTON PA QUE PAGUE NORMAL, CON LA ETAPA 1 -->
      <!-- <div class="float-right">
        <p>Al continuar, aceptas nuestros Términos y Condiciones    <button class="btn botones" (click)="pagar()">PAGAR</button></p>
      </div> -->

      <!-- EL COSO DEL BRICK -->
      <div id="cardPaymentBrick_container"></div>

      <!-- EL COSO DE LA BILLETERA, QUE ABRE UN MODAL RE CHOTO -->
      <!-- <div class="cho-container"></div> -->

      <!-- EL CARD FORM QUE NO SE CUSTOMIZAR -->
      <!-- <form id="form-checkout">
        <div id="form-checkout__cardNumber" class="container"></div>
        <div id="form-checkout__expirationDate" class="container"></div>
        <div id="form-checkout__securityCode" class="container"></div>
        <input type="text" id="form-checkout__cardholderName" />
        <select id="form-checkout__issuer"></select>
        <select id="form-checkout__installments" hidden></select>
        <select id="form-checkout__identificationType"></select>
        <input type="text" id="form-checkout__identificationNumber" />
        <input type="email" id="form-checkout__cardholderEmail" />

        <button type="submit" id="form-checkout__submit">Pagar</button>
        <progress value="0" class="progress-bar">Carregando...</progress>
      </form> -->



    <!-- </div>
  </div>
</div> -->
