<div class="container-fluid">
  <div class="row">

      <div class="col-12 linita-azul azul-correo">
        <div class="float-right">
          <p style="color:white; font-size: 15px;"> <a style="color: white;" href="">Preguntas Frecuentes</a>  |  <a style="color: white;" href="">Contacto</a> </p>
        </div>
      </div>

      <div class="col-12 nav-margen amarillo-correo">

        <div class="container-fluid">
          <div class="row align-items-end">
            <div class="col-6">
              <img style="margin-top: 20px;" src="./assets/logoCorreo.png" height="60p">
            </div>
            <div class="col-6">
              <div class="float-right">

                <div class="containter-fluid">
                  <div class="row animacion-volver amarillo-correo">
                    <div class="col-12 amarillo-correo">
                        <p style="margin-left: 8px; margin-bottom:2px;">Volver</p>
                    </div>
                    <div class="col-12" style="padding: 5px;"></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
