.card-align{
  padding-top: 10vh;
}
.card-border{
  border-style: solid;
  border-radius: 1%;
  border-color: rgb(204, 204, 204);
  margin-bottom: 30px;
  min-height: 400px;
}
h3{
  margin-top: 40px;
}
